# Cache files
.vscode
computer_vision/mnist/__pycache__
computer_vision/road_signs/__pycache__
console/__pycache__
env/__pycache__
fuzzy_controller/__pycache__
RTLS/__pycache__

# Notes and Docs snippets
Docs